body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.appname {
  font-size: 4rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 10rem;
}

.search-input {
  margin-bottom: 2rem;
}

.weather-info-container {
  width: 100%;
  display: flex;
  border-radius: 10px;
  padding: 2rem;
}

.weather-info--child {
  padding: 1rem;
  margin: 0 auto;
  margin: 1rem;
  background: rgb(4, 166, 138);
  background: linear-gradient(
    90deg,
    rgba(4, 166, 138, 1) 0%,
    rgba(0, 177, 168, 1) 35%,
    rgba(0, 255, 254, 1) 100%
  );
  border-radius: 10px;
  text-align: center;
  font-weight: 1000;
  transition: transform 0.3s;
}

.weather-info--child:hover {
  transform: scale(105%);
  cursor: pointer;
  transition: 0.3s transform;
}

.text-input {
  margin: 0;
  padding: 0;
  width: 30rem;
  height: 2rem;
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
}

.btn {
  background-color: darkcyan;
  color: white;
  padding: 0.4rem;
  margin: 0;
  border: 2px solid darkcyan;
  border-radius: 10px;
}

.btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.8rem;
  width: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  bottom: 105%;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  transition: 0.3s visibility;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
